@import '../../styles/globals';

$default-radius: 5px;
@mixin outlined($classname, $color) {
  &.#{$classname} {
    color: $color;
    border-color: $color;
    &:hover {
      border-color: transparent;
      background-color: rgba($color, 0.5);
      color: #eee;
    }
  }
}

@mixin contained($classname, $color) {
  &.#{$classname} {
    background: $color;
    &:hover {
      background: rgba($color, 0.5);
    }
  }
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: $default-radius;
  cursor: pointer;
  transition: all 0.1s;
  box-sizing: border-box;
  padding: 5px 8px;

  &.loading {
    cursor: not-allowed;
  }
  &.disabled {
    opacity: 0.5;
  }
  &.fullWidth {
    min-width: 100%;
  }
  &.size-small {
    width: 100px;
  }

  &.size-medium {
    width: 150px;
    height: 30px;
  }
  &.size-large {
    width: 200px;
    height: 40px;
  }

  &.contained {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #fff;
    @include contained(primary, $primary);
    @include contained(secondary, $secondary);
    @include contained(ok, $ok);
    @include contained(danger, $danger);
    @include contained(warning, $warning);
  }

  &.outlined {
    background: none;
    border-style: solid;
    border-width: 2px;
    @include outlined(primary, $primary);
    @include outlined(secondary, $secondary);
    @include outlined(ok, $ok);
    @include outlined(danger, $danger);
    @include outlined(warning, $warning);
  }
}
